root {
  --secondary-bg-color: #c3bef0;
  --tetiary-bg-color: #cca8e9;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.alpha {
  padding: 80px 40px;
  font-family: Poppins;
}

.alpha h1 {
  color: #962071;
  font-size: 84px;
  font-family: Playfair Display;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 15px;
  font-weight: 700;
}

.alpha h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

.alpha .name {
  font-weight: 700;
}

.alpha h4 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}

.hero h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}

.primary-button {
  text-decoration: none;
  text-align: center;
  padding: 15px;
  display: block;
  margin: 0 auto;
  border: solid 1px #962071;
  border-radius: 5px;
  color: #962071;
  width: 150px;
}

.primary-button:hover {
  text-decoration: none;
  text-align: center;
  padding: 15px;
  display: block;
  margin: 0 auto;
  border: solid 1px #962071;
  border-radius: 5px;
  color: #962071;
  width: 150px;
}

.beta,
.delta {
  padding: 70px 120px;
  font-family: Poppins;
  line-height: 2;
  font-weight: 400;
  font-size: 17px;
}

.hero {
  font-family: Poppins;
  line-height: 2;
  font-weight: 400;
  font-size: 17px;
}

.beta,
.delta,
.hero {
  margin-bottom: 50px;
}

.beta {
  background-color: #dfb9d3;
}

.beta h2,
.delta h2,
.hero h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
}

.beta .description {
  color: white;
}

.btn-skills {
  text-decoration: none;
  text-align: center;
  padding: 15px;
  display: block;
  margin: 0 auto;
  border: solid 1px #962071;
  border-radius: 5px;
  background-color: #962071;
  color: white;
}

.btn-skills:hover {
  border: solid 1px #962071;
  background-color: #dfb9d3;
  color: #962071;
}

.btn-skills a {
  text-decoration: none;
  color: white;
}

.btn-skills a:hover {
  color: #962071;
}

.sites {
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .alpha {
    padding-bottom: 40px;
  }

  .alpha h1 {
    color: #962071;
    font-size: 64px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 600;
  }
  .alpha h2,
  .beta h2,
  .delta h2,
  .hero h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
  }

  .alpha .name {
    font-weight: 600;
  }
  .alpha h4 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
  }

  .hero h4 {
    font-size: 22px;
  }

  .beta {
    padding: 30px 30px;
    text-align: center;
  }

  .delta {
    padding: 30px 30px;
    padding-bottom: 5px;
  }

  .beta,
  .delta,
  .hero {
    margin-bottom: 1px;
  }
}

@media (max-width: 280px) {
  .alpha {
    padding-bottom: 40px;
  }

  .alpha h1 {
    font-size: 56px;
    padding-top: 50px;
  }
  .alpha h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .alpha .name {
    font-weight: 500;
  }
  .alpha h4 {
    font-size: 18px;
    padding-bottom: 30px;
  }

  .hero h4 {
    font-size: 18px;
  }

  .beta {
    padding: 30px 10px;
    font-size: 16px;
    text-align: center;
  }

  .delta {
    padding: 30px 10px;
  }
}

@media (max-width: 1200px) {
  .alpha {
    padding-bottom: 50px;
  }

  .beta,
  .delta,
  .hero {
    padding-top: 50px;
  }

  .alpha img {
    display: block;
    margin: 0 auto;
  }
}
